* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 8px 0px 0px 3px;
}

:root {
    --dis-primary-color: #3161e0;
    --dis-primary-soft: #8ea1e1;
    --dis-primary-dark: #23272a;
    --dis-primary-lighter: white;
    --dis-primary-light: 
}

section {
    padding-left: 1px;
}
.pcontainer{
    width: 1000px;
    height: 330px;
    background-color: palevioletred;
    
    
    
}
.container{
    width: 70%;
    margin: auto;
}

.header-container {
    width: 65%;
    height: 40px;
    line-height: 32px;
    margin: auto;
    background-color: rgb(226, 167, 5);
    justify-content: center;
}

.b-dashed {
    border-style: dashed;
    border-width: 2px;
}

.b-dashed-w {
    border-style: dashed;
    border-color: white;
    border-width: 2px;
}



.d-flex {
    display: flex;
}

.ft-logo {
    padding: 3px;
    background-color: pink;
    height: 60%;
    border-width: 2px;
}

.ft-action {
    padding: 3px;
    background-color: pink;
    height: 60%;
    border-width: 2px;
}

.justify-content-between{
    justify-content: space-between;
    background-color: rgb(12, 12, 44);

}
.w-20 {
    width: 20%;
    background-color: rgb(226, 105, 125);
}

.w-40 {
    width: 40%;
    background-color: pink;
}

.w-60 {
    width: 60%;
    background-color: #3161e0;
}

.w-80{
    width: 80%;
}


header {
    background-color: #add8e6;
    padding: 1rem 0;
    .logo {
        flex-grow: 1;
        text-align: start;
        justify-content: space-around;
        padding-left:10px;
    }

    .actions {
        flex-grow: 1;
        text-align: end;
        padding-right:10px;
    }   

    .menu {
        flex-grow: 3;
        text-align: center;
    }
}
    .jumbotron {
        height: 400px;
        display: flex;
        justify-content: center;
        .content {
            width: 500px;
            height: 100%;
            background-color: var(--dis-primary-color);

        }
    }

    .w-40,
    .w-60 {
        height: 300px;
    }

.debug{
    .jumbotron{
        height: 400px;
        .content{
            height: 100%;
            background-color: pink;
        }
    }
} 
.jumbotron {
    background-color: blue;
    padding: 2rem;
    
}


.technology {
    background-color: green;
    height: 700px;
    width: 100%;
}

footer {
    background-color: v;
    height: 300px;
    width: 100%;
    flex-direction:column;
    margin-bottom:400px;
    .container{
        height: 100%;
        width: 68%; 
    }
    .w-80 {
        background: #3161e0;
        div{
            flex-grow: 1;
        }
    }
}

#ft-container-small {
    height: 60px;
    margin-top: 20px;
    padding-top: 15px;
}

.row-container-white {
    width: 100%;
    background-color: white;
    padding: 20px;
}

.row-container-grey {
    width: 100%;
    background-color: grey;
    padding: 20px;
}
.row-container-darkgray{
    width: 100%;
    background-color: #23272a;
}